@media screen and (min-width: 1440px) {
    .container {
        width: 1440px;
        padding: 0 156px;
    }

    .header .container,
    .section-features .container {
        padding: 0 156px;
    }

    .address-list {
        gap: 40px;
        flex-direction: row;

        padding: 0;
    }


    .address-item {
        padding: 24px 0;
    }

    .nav-item a,
    .address-item a {
        display: block;

        font-size: 16px;
        line-height: 1.5rem;
        letter-spacing: 0.02rem;
    }

    .section-title {
        padding: 188px 0;
    }

    /* Features */
    .section-features {
        padding: 120px 0;
    }

    .features-item {
        flex-basis: calc((100% - 72px) / 4);
    }

    .features-item .icon-wrapper {
        display: flex;
    }

    .feature-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: 0.025rem;
    }

    .feature-text {
        font-weight: 400;
    }


    /* Services */
    .section-services {
        display: block;
    }


    /* Team */
    .section-team {
        padding: 120px 0;
    }
    .team-list {
        flex-wrap: nowrap;
    }


    /* Customers */
    .section-customers {
        padding: 120px 0;
    }

    .customers-icons-list {
        gap: 24px;
    }

    .customers-icons-item {
        width: calc((100% - 120px) / 6);
    }


    /* Footer */
    .footer {
        padding: 100px 0;
    }

    .footer-wrapper {
        flex-wrap: nowrap;
        gap: 80px;
    }

    .footer .footer-info,
    .footer .footer-social-links,
    .footer .footer-form {
        flex: 0 1 auto;
        min-width: fit-content;
    }

    .footer-info {
        margin-right: 40px;
    }
}