/* Modal window */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--navyblue-modal);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14);

    background-color: var(--dairy);
    padding: 72px 24px 24px 24px;
}

.modal-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;
    padding: 0;

    border-radius: 50%;
    cursor: pointer;

    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: var(--cornflower);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--ocean);
    border: none;
}

.modal-btn:hover .modal-icon,
.modal-btn:focus .modal-icon {
    fill: var(--white);
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    fill: var(--navyblue);
}


/* Modal form */
.form-text {
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--navyblue);
    margin-bottom: 16px;
}

.modal-form-wrap {
    margin-bottom: 8px;
}

.modal-form-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);
    margin-bottom: 4px;
}

.modal-form-container {
    position: relative;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-form-input:focus {
    border-color: var(--iris);
}

.modal-form-input:focus+.modal-form-icon {
    fill: var(--iris);
}

.modal-form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-comment {
    margin-bottom: 16px;
}

.modal-form-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea::placeholder {
    color: inherit;
}

.modal-form-textarea:focus {
    border-color: var(--iris);
}

.form-field-checkbox {
    margin-bottom: 24px;
    user-select: none;
}

.fake-icon-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid var(--navyblue-modal);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.modal-form-checkbox:checked + label .fake-icon-checkbox  {
    background-color: var(--ocean);
    border: none;
    fill: var(--cloud);
}

.privacy-link {
    color: var(--iris);
}

.modal-send {
    display: block;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;
    background-color: var(--iris);
    border: none;
    border-radius: 4px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}


/* Modal Mobile Menu */
.modal-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14);

    background-color: var(--dairy);
    padding: 80px 35px 80px 40px;
}

.menu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: calc(100% - 48px);
}

.modal-menu .nav-list {
    flex-direction: column;
}

.modal-menu .nav-item a,
.modal-menu .address-item a {
    display: block;
}

.modal-menu .nav-item a {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: 0.045rem;
    color: var(--navyblue);
    text-transform: capitalize;
    padding: 0;
}

.modal-menu .nav-item .nav-item-active {
    color: var(--ocean);
}

.modal-menu .nav-item .nav-item-active::after {
    display: none;
}

.modal-menu .address-list {
    flex-direction: column-reverse;
}

.modal-menu .address-item {
    padding: 0;
}

.modal-menu .address-item .tel {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    color: var(--iris, #4D5AE5);
}

.modal-menu .address-item .email {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: var(--slate, #434455);
}

.modal-menu .social-icons-list {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, 0%);
}